<div class="jumbotron">
    <center>
        <h1>Welcome to Sam's Pizza</h1>

        <img src="">
        <br>

        <%= link_to "CHECK OUT OUR PIZZAS!", pizzas_path, class: "btn btn-default" %>
    </center>
</div>
